<div class="container">
  <div class="card text-center" style="width: 18rem;">
    <img class="rounded mx-auto d-block" style="max-width: 80%" src="../../../assets/images/computer.png" alt="">
    <div class="card-body">
      <h4 class="card-title mx-auto">Detalhes</h4>
      <h5>
        <small class="text-muted">Nome do computador </small>
        <br>
        TIBKP-PC
      </h5>
      <h5>
        <small class="text-muted">Endereço IP </small>
        <br>
        192.168.1.100
      </h5>
      <h5>
        <small class="text-muted">Antivirus </small>
        <br>
        Não possui
      </h5>
      <a href="#" class="btn btn-primary">Detalhes</a>
    </div>
  </div>
</div>
